/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "variables.less";
@import "mixins.less";
@import "styleSelect.less";
@import "dateTimePicker.less";
* {
  .box-sizing(border-box);
}

*:before,
*:after {
  .box-sizing(border-box);
}

body {
  background: @gray-dark url(../images/bg.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.booking-form {
  margin: 50px auto;
  background: white;
  padding: 30px 0;
  // .border-top-radius(5px);
  // .border-bottom-radius(5px);
  position: relative;

  #form-loading {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    .opacity(0.5);
    z-index: 1000;
    background: @gray;

    i {
      font-size: 100px;
    }
  }

  #form-message {
    text-align: center;
    color: @gray;
  }

  .box-shadow(0 0 5px 3px rgba(0, 0, 0, 0.125));

  .h1 {
    font-size: 30px;
    color: #3EC038;
    padding: 15px 15px 35px 15px;
    text-transform: uppercase;
    text-align: center;
  }

  .logo {
    height: auto;
    max-width: 100%;
    // @media (max-width: @screen-xss-max){
    //     &:not(:-moz-handler-blocked){
    //         max-width:@screen-xss-min - @grid-gutter-width;
    //     }
    // }
  }

  .group {
    .clearfix();

    > label {
      padding-left: 15px;
      padding-top: 5px;
      color: @gray;
      font-size: 16px;

      display: block;

      &.empty {
        display: block;
        height: 1px;
        padding: 0;
        margin: 0;
      }
    }

    > div {
      padding: 0 15px;

      &.addon-right {
        position: relative;
        padding-right: 50px;

        > i {
          position: absolute;
          right: 25px;
          top: 9px;
          z-index: 999;
          color: @gray;
        }
      }

      .error-message {
        font-size: 12px;
        color: red;
        margin-top: 5px;
      }
    }

    .transition(~"all ease .2s");
    border-left: 4px solid #fff;
    padding: 10px 0;

    &.active {
      background: #F6F6F6;
      border-left-color: #40C2FF;
      .box-shadow(inset 0px 0px 3px rgba(0, 0, 0, .03));
    }
  }

  input[type=submit] {
    border: none;
    background: #65CA60;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 1px;
    .box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
    .transition(~"background ease-in-out .15s");

    &:hover {
      background: #5AC253;
    }
  }
}

// Responsive form
.booking-form {
  width: 320px;
  @media (min-width: 550px) {
    width: 520px;
    .group {
      > label {
        float: left;
        width: 180px;
      }

      > div {
        margin-left: 180px;
        padding-left: 0;
      }
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: 1px;
  .box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  .placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: @input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }

  font-family: 'Roboto', sans-serif;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Arrow
.arrow-up {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-style: none;
}

.arrow-down {
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-style: none;
}

.arrow-right {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-style: none;
}

.arrow-left {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-style: none;
}

.arrow {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border-color: white;
  border-width: 5px;
  border-style: solid;

  &.up {
    .arrow-up;
  }

  &.down {
    .arrow-down;
  }

  &.right {
    .arrow-right;
  }

  &.left {
    .arrow-left;
  }
}

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
