/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset-Code --*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*-- //Reset-Code --*/
body {
    background: url('../images/1.jpg') no-repeat 0px 0px;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-position: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;

}

h1 {
    color: #fff;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

.button {
    background-color: #1A506A;
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.main-agileinfo {
    margin: 50px auto;
    width: 50%;
}

/*--SAP--*/
.sap_tabs {
    clear: both;
    padding: 0;
}

.tab_box {
    background: #fd926d;
    padding: 2em;
}

.top1 {
    margin-top: 2%;
}

.resp-tabs-list {
    list-style: none;
    padding: 15px 0px;
    margin: 0 auto;
    text-align: center;
    background: #FFC107;
}

.resp-tab-item {
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    margin: 0 1.2em 0;
    color: #b1b1b1;
    padding: 7px 15px;
}

.resp-tab-active {
    color: #fff;
}

.resp-tabs-container {
    padding: 0px;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

form {
    background: rgba(3, 3, 3, 0.57);
    padding: 25px;
}

h3 {
    font-size: 16px;
    color: #FFC107;
    margin-bottom: 7px;
}

.from, .to, .date, .depart, .return {
    width: 48%;
    float: left;
}

.from, .to, .date {
    margin-bottom: 40px;
}

.from, .date, .depart {
    margin-right: 4%;
}

input[type="text"] {
    padding: 10px;
    width: 93%;
    float: left;
}

input#datepicker, input#datepicker1, input#datepicker2, input#datepicker3 {
    width: 85%;
    margin-bottom: 10px;
}

select#w3_country1 {
    padding: 10px;
    float: left;
}

label.checkbox {
    display: inline-block;
}

.checkbox {
    position: relative;
    font-size: 0.95em;
    font-weight: normal;
    color: #dedede;
    padding: 0em 0.5em 0em 2em;
}

.checkbox i {
    position: absolute;
    bottom: 1px;
    left: 2px;
    display: block;
    width: 18px;
    height: 18px;
    outline: none;
    background: #fff;
    border: 1px solid #6A67CE;
}

.checkbox i {
    font-size: 20px;
    font-weight: 400;
    color: #999;
    font-style: normal;
}

.checkbox input:checked + i:after {
    opacity: 1;
}

.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.checkbox input + i:after {
    content: '';
    background: url("../images/tick.png") no-repeat 5px 5px;
    top: -1px;
    left: -1px;
    width: 15px;
    height: 15px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}

input[type="checkbox"] {
    opacity: 0;
    margin: 0;
    display: none;
}

.quantity-select .entry.value-minus {
    margin-left: 0;
}

.value-minus, .value-plus {
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    border: 1px solid #b2b2b2;
    vertical-align: bottom;
}

.value {
    cursor: default;
    width: 40px;
    height: 33px;
    color: #000;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    margin-right: 3px;
    padding-top: 7px;
}

.quantity-select .entry.value-minus:hover, .quantity-select .entry.value-plus:hover {
    background: #E5E5E5;
}

.value-minus, .value-plus {
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    border: 1px solid #b2b2b2;
    vertical-align: bottom;
}

.quantity-select .entry.value-minus:before, .quantity-select .entry.value-plus:before {
    content: "";
    width: 13px;
    height: 2px;
    background: #000;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -0.5px;
    position: absolute;
}

.quantity-select .entry.value-plus:after {
    content: "";
    height: 13px;
    width: 2px;
    background: #000;
    left: 50%;
    margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
    position: absolute;
}

.numofppl {
    width: 100%;
}

.age_selection {
    width: 33%;
    float: left;
}

.class {
    width: 48%;
    float: left;
}

input[type="submit"] {
    font-size: 14px;
    color: #fff;
    background: #ffc107;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

input[type="submit"]:hover {
    background: #212121;
    color: #fff;
}

/*-- load-more --*/
ul#myList {
    margin-bottom: 2em;
}

#myList li {
    display: none;
    list-style-type: none;
}

#loadMore, #showLess {
    display: inline-block;
    cursor: pointer;
    padding: 7px 20px;
    background: #fff;
    font-size: 14px;
    color: #fff;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    background: #00bcd4
}

#loadMore:hover {
    background: #212121;
    color: #fff;
}

.spcl {
    position: relative;
}

form.blackbg {
    background: rgba(33, 150, 243, 0.58);
}

/*-- //load-more --*/
.footer-w3l {
    margin: 50px 0 15px 0;
}

.footer-w3l p {
    font-size: 14px;
    text-align: center;
    color: #000;
    line-height: 27px;
}

.footer-w3l p a {
    color: #000;
}

.footer-w3l p a:hover {
    text-decoration: underline;
}

/*-- responsive --*/
@media (max-width: 1440px) {
    .checkbox {
        font-size: 0.9em;
    }
}

@media (max-width: 1366px) {
    .main-agileinfo {
        width: 53%;
    }
}

@media (max-width: 1280px) {
    .main-agileinfo {
        width: 57%;
    }
}

@media (max-width: 1080px) {
    h1 {
        color: #fff;
        font-size: 47px;
    }

    .main-agileinfo {
        width: 68%;
    }
}

@media (max-width: 1024px) {
    .main-agileinfo {
        width: 71%;
    }
}

@media (max-width: 991px) {
    .from, .to, .date, .depart, .return {
        width: 49%;
        float: left;
    }

    .from, .date, .depart {
        margin-right: 2%;
    }
}

@media (max-width: 966px) {
    .main-agileinfo {
        width: 73%;
    }

}

@media (max-width: 900px) {
    .checkbox {
        font-size: 0.82em;
    }
}

@media (max-width: 800px) {
    .main-agileinfo {
        width: 81%;
    }
}

@media (max-width: 768px) {
    .main-agileinfo {
        width: 85%;
    }

    .checkbox i {
        width: 15px;
        height: 15px;
    }

    .checkbox input + i:after {
        top: -3px;
        left: -3px;
    }
}

@media (max-width: 736px) {
    .main-agileinfo {
        width: 88%;
        margin: 40px auto;
    }

    h1 {
        color: #fff;
        font-size: 43px;
        margin-top: 40px;
    }

    input[type="text"] {
        padding: 10px;
        width: 90%;
        float: left;
    }

    input#datepicker, input#datepicker1, input#datepicker2, input#datepicker3 {
        width: 79%;
    }

    .value-minus, .value-plus {
        height: 30px;
        width: 30px;
    }

    .value {
        width: 33px;
        height: 25px;
        padding-top: 6px;
    }
}

@media (max-width: 667px) {
    .numofppl {
        width: 60%;
    }

    .roundtrip .date {
        width: 68%;
        float: left;
    }

    .roundtrip .class {
        width: 30%;
        float: left;
    }

    .oneway .depart, .multicity .depart {
        width: 68%;
    }
}

@media (max-width: 600px) {
    select#w3_country1 {
        width: 100%;
    }
}

@media (max-width: 568px) {
    h1 {
        font-size: 40px;
    }

    .resp-tab-item {
        padding: 7px 13px;
        margin: 0 1em 0;
    }

    .numofppl {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .resp-tab-item {
        padding: 7px 7px;
        margin: 0 0.7em 0;
    }

    input[type="text"] {
        padding: 10px;
        width: 86%;
        float: left;
    }

    .roundtrip .date {
        width: 100%;
        float: left;
    }

    input#datepicker, input#datepicker1, input#datepicker2, input#datepicker3 {
        width: 86%;
    }

    .roundtrip .class {
        width: 100%;
        float: left;
        margin-bottom: 40px;
    }

    .numofppl {
        width: 80%;
    }

    .oneway .depart, .multicity .depart {
        width: 100%;
    }
}

@media (max-width: 414px) {
    h1 {
        font-size: 35px;
        margin-top: 30px;
    }

    .resp-tab-item {
        padding: 7px 7px;
        margin: 0 0.5em 0;
        font-size: 15px;
    }

    .numofppl {
        width: 100%;
    }
}

@media (max-width: 384px) {
    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 15px;
    }

    .from, .to, .date, .depart, .return {
        width: 100%;
        float: left;
        margin-bottom: 25px;
    }

    .date {
        margin-bottom: 0;
    }

    .resp-tab-item {
        padding: 7px 7px;
        margin: 0 0em 0;
        font-size: 15px;
    }

    .class {
        width: 100%;
        float: left;
        margin-bottom: 40px;
    }

    input[type="text"] {
        padding: 10px;
        width: 91.5%;
    }

    input#datepicker, input#datepicker1, input#datepicker2, input#datepicker3 {
        width: 91.5%;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 26px;
        margin-top: 25px;
    }

    form {
        padding: 15px;
    }

    .resp-tab-item {
        padding: 7px 5px;
        margin: 0 0em 0;
        font-size: 14px;
    }

    .adults, .child {
        width: 100%;
        float: left;
    }

    .adults {
        margin-bottom: 25px;
    }
}

/*-- //responsive--*/